[Desktop Entry]
Encoding=UTF-8
Name=PLURA
GenericName=PLURA wallet
Name[uk]=PLURA wallet
Name[ru]=PLURA wallet
Name[pl]=PLURA wallet
Name[be]=PLURA wallet
Name[de]=PLURA wallet
Name[es]=PLURA wallet
Comment=PLURA wallet
Comment[uk]=PLURA wallet
Comment[ru]=PLURA wallet
Comment[pl]=PLURA wallet
Comment[be]=PLURA wallet
Comment[de]=PLURA wallet
Comment[es]=PLURA wallet
Exec=pluracoin %U
Terminal=false
Type=Application
Icon=pluracoin
MimeType=x-scheme-handler/pluracoin;
Categories=Office;Finance;
Version=1.1.2
